Repository boostcamp-2020/IssueTracker-09, pull requests merged in 2020-11, with the labels that each got.

#72 [BE] 이슈 타이틀, 마일스톤, 이슈 상태 수정 API 구현
  backend/src/controller/issue.js
  backend/src/routes/issue.js
  backend/src/service/issue.js
Labels: API, backend

#73 [BE] issue update 중 assignee, label변경 로직 작성
  backend/src/controller/issue.js
  backend/src/routes/index.js
  backend/src/routes/issue.js
  backend/src/service/issue.js
Labels: API, backend

#75 [BE] milestone update close로직 및 이미지 service 에러처리
  backend/src/controller/milestone.js
  backend/src/routes/milestone.js
  backend/src/service/image.js
  backend/src/service/milestone.js
  backend/src/service/user.js
Labels: API, backend

#76 [BE] controller 리펙토링
  backend/src/controller/comment.js
  backend/src/controller/image.js
  backend/src/controller/issue.js
  backend/src/controller/label.js
  backend/src/controller/milestone.js
  backend/src/controller/user.js
  backend/src/lib/controller.js
  backend/src/service/milestone.js
Labels: API, backend, refactor

#77 [BE] 유저 서비스 return 형식 변경, status 실패코드 변경
  backend/src/lib/controller.js
  backend/src/service/user.js
Labels: API, backend, refactor

#80 [BE] Sequelize모델 수정 및 issue read알고리즘 변경
  backend/src/model/issue.js
  backend/src/model/user.js
  backend/src/routes/index.js
  backend/src/service/issue.js
Labels: backend

#82 [BE] 오류 수정 및 코드 리팩토링
  backend/src/controller/image.js
  backend/src/controller/user.js
  backend/src/routes/issue.js
  backend/src/routes/user.js
  backend/src/service/comment.js
  backend/src/service/image.js
  backend/src/service/issue.js
  backend/src/service/label.js
  backend/src/service/milestone.js
Labels: backend, refactor

#83 [BE] 컨트롤러 로직 변경으로 인한 테스트 코드 수정
  backend/src/controller/__test__/comment.test.js
  backend/src/controller/__test__/image.test.js
  backend/src/controller/__test__/issue.test.js
  backend/src/controller/__test__/label.test.js
  backend/src/controller/__test__/milestone.test.js
  backend/src/controller/__test__/user.test.js
Labels: backend, refactor, test

#85 [BE] issue model에서 content제거
  backend/src/lib/utils/jwt.js
  backend/src/model/__test__/issue.test.js
  backend/src/model/issue.js
  backend/src/service/issue.js
Labels: backend

#81 [iOS] 마일스톤 화면 생성
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Coordinators/CoordinatorManager.swift
  iOS/IssueTracker/IssueTracker/Coordinators/MilestoneCoordinator.swift
  iOS/IssueTracker/IssueTracker/Coordinators/SignCoordinator.swift
  iOS/IssueTracker/IssueTracker/Extensions/DataRequest+responseBool.swift
  iOS/IssueTracker/IssueTracker/Models/Comment.swift
  iOS/IssueTracker/IssueTracker/Models/Issue.swift
  iOS/IssueTracker/IssueTracker/Models/Label.swift
  iOS/IssueTracker/IssueTracker/Networks/CommentNetworkService.swift
  iOS/IssueTracker/IssueTracker/Networks/ImageNetworkService.swift
  iOS/IssueTracker/IssueTracker/Networks/IssueNetworkService.swift
  iOS/IssueTracker/IssueTracker/Networks/LabelNetworkService.swift
  iOS/IssueTracker/IssueTracker/Networks/MilestoneNetworkService.swift
  iOS/IssueTracker/IssueTracker/Networks/UserNetworkService.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Issue/LocalIssueService.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Milestone/MilestoneCacheService.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Milestone/MilestoneService.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Milestone/MilestoneViewController.swift
  iOS/IssueTracker/IssueTracker/Views/Customs/Milestone/MilestoneCollectionViewCell.swift
  iOS/IssueTracker/IssueTracker/Views/Storyboards/Milestone.storyboard
  iOS/IssueTracker/IssueTrackerTests/ImageNetworkServiceTests.swift
  iOS/IssueTracker/IssueTrackerTests/LabelNetworkServiceTests.swift
Labels: iOS

#84 [iOS] Feature 2. Filter 페이지 추가
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Coordinators/SignCoordinator.swift
  iOS/IssueTracker/IssueTracker/Networks/UserNetworkService.swift
  iOS/IssueTracker/IssueTracker/SceneDelegate.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Filter/Filter.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Filter/FilterViewController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Issue/IssueViewController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Sign/AppleAuthorizationController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Sign/SignViewController.swift
  iOS/IssueTracker/IssueTracker/Views/Customs/RoundButton.swift
  iOS/IssueTracker/IssueTracker/Views/Storyboards/Filter.storyboard
  iOS/IssueTracker/IssueTracker/Views/Storyboards/Issue.storyboard
  iOS/IssueTracker/IssueTracker/utils/PersistenceManager.swift
Labels: iOS

#86 [FE] react 프로젝트 초기 세팅
  client/.eslintrc.js
  client/.gitignore
  client/.prettierrc
  client/babel.config.js
  client/package-lock.json
  client/package.json
  client/public/index.html
  client/src/App.jsx
  client/src/index.js
  client/src/style/global-style.js
  client/src/style/theme.js
  client/webpack.config.js
Labels: React, frontend

#88 [iOS] 마일스톤 추가 화면 구성
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/ViewControllers/Milestone/MilestoneAppendViewController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Milestone/MilestoneCacheService.swift
  iOS/IssueTracker/IssueTracker/Views/Storyboards/Milestone.storyboard
  iOS/IssueTracker/IssueTracker/Views/Storyboards/MilestoneAppend.storyboard
  iOS/IssueTracker/IssueTracker/Views/Xibs/InputField.swift
  iOS/IssueTracker/IssueTracker/Views/Xibs/InputField.xib
Labels: iOS

#89 [iOS] Feature 2. 필터 상세 검색 페이지
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Coordinators/Coordinator.swift
  iOS/IssueTracker/IssueTracker/Coordinators/CoordinatorManager.swift
  iOS/IssueTracker/IssueTracker/Coordinators/IssueCoordinator.swift
  iOS/IssueTracker/IssueTracker/Coordinators/MilestoneCoordinator.swift
  iOS/IssueTracker/IssueTracker/Coordinators/Roots/Main/Filter/FilterCoordinator.swift
  iOS/IssueTracker/IssueTracker/Coordinators/Roots/Main/MainTabBarCoordinator.swift
  iOS/IssueTracker/IssueTracker/Coordinators/Roots/RootCoordinateController.swift
  iOS/IssueTracker/IssueTracker/Coordinators/Roots/Sign/SignCoordinator.swift
  iOS/IssueTracker/IssueTracker/SceneDelegate.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Filter/FilterSearchViewController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Filter/FilterViewController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Filter/SearchController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Issue/IssueViewController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Milestone/MilestoneCacheService.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Milestone/MilestoneViewController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Sign/SignViewController.swift
  iOS/IssueTracker/IssueTracker/Views/Customs/CheckCell.swift
  iOS/IssueTracker/IssueTracker/Views/Customs/ElementView.swift
  iOS/IssueTracker/IssueTracker/Views/Storyboards/Milestone.storyboard
  iOS/IssueTracker/IssueTracker/Views/Storyboards/Search.storyboard
Labels: iOS

#90 [BE] iOS를 위한 issue에 assignees & labels 추가/삭제 API구현
  backend/src/controller/issue.js
  backend/src/model/issue.js
  backend/src/model/user.js
  backend/src/routes/issue.js
  backend/src/service/issue.js
Labels: API, backend

#91 [BE] 이슈 검색 필터 기능 구현 및 반환값 수정
  backend/src/controller/__test__/image.test.js
  backend/src/controller/issue.js
  backend/src/service/__test__/comment.test.js
  backend/src/service/__test__/issue.test.js
  backend/src/service/comment.js
  backend/src/service/issue.js
  backend/src/service/label.js
  backend/src/service/milestone.js
Labels: API, backend

#107 [BE] 이슈 조회 API 버그 수정
  backend/src/service/issue.js
Labels: API, backend, bug

#118 [BE] issue / milestone의 상태 변경 로직 수정
  backend/src/controller/issue.js
  backend/src/controller/milestone.js
  backend/src/service/issue.js
  backend/src/service/milestone.js
Labels: API, backend

#119 [FE] react-router 세팅
  client/README.md
  client/src/App.jsx
  client/src/index.js
  client/src/pages/IssueDetail/index.jsx
  client/src/pages/IssueNew/index.jsx
  client/src/pages/Issues/index.jsx
  client/src/pages/Labels/index.jsx
  client/src/pages/Login/index.jsx
  client/src/pages/Login/styled.js
  client/src/pages/Main/index.jsx
  client/src/pages/MilestoneNew/index.jsx
  client/src/pages/Milestones/index.jsx
  client/src/pages/index.js
Labels: React, frontend

#121 [FE] user store 추가
  client/src/index.js
  client/src/stores/userStore.js
Labels: React, frontend

#122 [FE] header component 추가 및 fontawesome설치
  client/package-lock.json
  client/package.json
  client/src/App.jsx
  client/src/components/Layout/index.jsx
  client/src/components/Layout/styled.js
  client/src/style/theme.js
Labels: React, frontend

#124 [FE] axios설치 및 로그인 기능
  client/package-lock.json
  client/package.json
  client/src/apis/user.js
  client/src/lib/axios.js
  client/src/pages/Login/index.jsx
  client/src/stores/userStore.js
  client/webpack.config.js
Labels: React, frontend

#125 [Be] web github login 로직 수정
  backend/package-lock.json
  backend/package.json
  backend/src/app.js
  backend/src/controller/user.js
Labels: API, backend

#120 [iOS] 이슈 상세보기 화면 구성
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Coordinators/Roots/Main/MainTabBarCoordinator.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Issue/IssueDetailViewController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Issue/IssueViewController.swift
  iOS/IssueTracker/IssueTracker/Views/Customs/Issue/IssueDetailContentCollectionViewCell.swift
  iOS/IssueTracker/IssueTracker/Views/Storyboards/Filter.storyboard
  iOS/IssueTracker/IssueTracker/Views/Storyboards/Issue.storyboard
  iOS/IssueTracker/IssueTracker/Views/Storyboards/IssueDetail.storyboard
  iOS/IssueTracker/IssueTracker/Views/Storyboards/Milestone.storyboard
  iOS/IssueTracker/IssueTracker/Views/Storyboards/MilestoneAppend.storyboard
  iOS/IssueTracker/IssueTracker/Views/Storyboards/Search.storyboard
Labels: iOS

#126 [Be] passport-github제거 및 기존 사용하던 로직 변경
  backend/package-lock.json
  backend/package.json
  backend/src/controller/user.js
  backend/src/passport/github.js
  backend/src/passport/index.js
  backend/src/routes/middleware/git-auth.js
  backend/src/routes/user.js
  backend/src/service/user.js
Labels: API, backend

#127 [BE] issue updateState 변경
  backend/src/controller/issue.js
  backend/src/routes/issue.js
  backend/src/service/issue.js
Labels: API, backend

#130 [BE] passport에서 깃허브 검사할 떄 유저 찾는 방식을 수정
  backend/src/passport/jwt.js
  backend/src/routes/middleware/git-auth.js
Labels: backend, refactor

#131 [FE] 로그인 Callback 페이지 구현 및 상태 에러 수정
  client/src/App.jsx
  client/src/apis/user.js
  client/src/lib/PrivateRoute.jsx
  client/src/pages/Callback/index.jsx
  client/src/stores/userStore.js
Labels: React, frontend

#129 [iOS] API 연동 기능 추가
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker.xcodeproj/xcshareddata/xcschemes/IssueTracker.xcscheme
  iOS/IssueTracker/IssueTracker/Coordinators/Roots/Main/MainTabBarCoordinator.swift
  iOS/IssueTracker/IssueTracker/Coordinators/Roots/RootCoordinateController.swift
  iOS/IssueTracker/IssueTracker/Models/Comment.swift
  iOS/IssueTracker/IssueTracker/Models/Issue.swift
  iOS/IssueTracker/IssueTracker/Models/Label.swift
  iOS/IssueTracker/IssueTracker/Models/Milestone.swift
  iOS/IssueTracker/IssueTracker/Models/User.swift
  iOS/IssueTracker/IssueTracker/Networks/IssueNetworkService.swift
  iOS/IssueTracker/IssueTracker/Networks/MilestoneNetworkService.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Issue/IssueCacheService.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Issue/IssueService.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Issue/IssueViewController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Issue/LocalIssueService.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Milestone/MilestoneCacheService.swift
  iOS/IssueTracker/IssueTracker/Views/Customs/Issue/IssueTableViewCell.swift
  iOS/IssueTracker/IssueTracker/Views/Storyboards/Issue.storyboard
  iOS/IssueTracker/IssueTracker/utils/UIStackView+clear.swift
  iOS/IssueTracker/IssueTrackerTests/NetworkService/CommentNetworkServiceTests.swift
  iOS/IssueTracker/IssueTrackerTests/NetworkService/ImageNetworkServiceTests.swift
  iOS/IssueTracker/IssueTrackerTests/NetworkService/IssueNetworkServiceTests.swift
  iOS/IssueTracker/IssueTrackerTests/NetworkService/LabelNetworkServiceTests.swift
  iOS/IssueTracker/IssueTrackerTests/NetworkService/MilestoneNetworkServiceTests.swift
Labels: API, iOS

#133 [iOS] 이슈를 추가하는 화면 추가
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/ViewControllers/Issue/EditableTextViewDelegate.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Issue/IssueAppendViewController.swift
  iOS/IssueTracker/IssueTracker/Views/Storyboards/Issue.storyboard
  iOS/IssueTracker/IssueTracker/Views/Storyboards/IssueAppend.storyboard
Labels: iOS

#134 [iOS] 이슈 목록 화면 검색 기능 추가
  iOS/IssueTracker/IssueTracker/ViewControllers/Issue/IssueCacheService.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Issue/IssueService.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Issue/IssueViewController.swift
  iOS/IssueTracker/IssueTracker/Views/Storyboards/Issue.storyboard
Labels: iOS

#135 [iOS] Feature 3. 이슈 상세 페이지 하단 시트 추가
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/ViewControllers/Issue/IssueBottomSheetViewController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Issue/IssueDetailViewController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Issue/IssueViewController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Milestone/MilestoneCacheService.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Milestone/MilestoneViewController.swift
  iOS/IssueTracker/IssueTracker/Views/Customs/Milestone/MilestoneCollectionViewCell.swift
  iOS/IssueTracker/IssueTracker/Views/Storyboards/IssueBottomSheet.storyboard
  iOS/IssueTracker/IssueTracker/Views/Storyboards/IssueDetail.storyboard
  iOS/IssueTracker/IssueTracker/Views/Storyboards/Milestone.storyboard
Labels: iOS

#137 [FE] issue page의 UI구현
  client/.eslintrc.js
  client/src/components/IssueItem/index.jsx
  client/src/components/IssueItem/styled.js
  client/src/components/IssueList/dummy.js
  client/src/components/IssueList/index.jsx
  client/src/components/IssueList/styled.js
  client/src/pages/Issues/index.jsx
Labels: React, frontend

#138 [BE] 2주차 코드 프리징
  backend/package-lock.json
  backend/package.json
  backend/src/app.js
  backend/src/controller/__test__/comment.test.js
  backend/src/controller/__test__/image.test.js
  backend/src/controller/__test__/issue.test.js
  backend/src/controller/__test__/label.test.js
  backend/src/controller/__test__/milestone.test.js
  backend/src/controller/__test__/user.test.js
  backend/src/controller/comment.js
  backend/src/controller/image.js
  backend/src/controller/issue.js
  backend/src/controller/label.js
  backend/src/controller/milestone.js
  backend/src/controller/user.js
  backend/src/lib/controller.js
  backend/src/lib/utils/jwt.js
  backend/src/model/__test__/issue.test.js
  backend/src/model/issue.js
  backend/src/model/user.js
  backend/src/passport/github.js
  backend/src/passport/index.js
  backend/src/passport/jwt.js
  backend/src/routes/issue.js
  backend/src/routes/middleware/git-auth.js
  backend/src/routes/milestone.js
  backend/src/routes/user.js
  backend/src/service/__test__/comment.test.js
  backend/src/service/__test__/issue.test.js
  backend/src/service/comment.js
  backend/src/service/image.js
  backend/src/service/issue.js
  backend/src/service/label.js
  backend/src/service/milestone.js
  backend/src/service/user.js
Labels: backend

#140 [FE] 커스텀 라우터 수정 및 선택 드롭다운 메뉴 레이아웃 구현
  client/src/components/ListHeader/index.jsx
  client/src/components/ListHeader/styled.js
  client/src/components/SelectMenu/index.jsx
  client/src/components/SelectMenu/styled.js
  client/src/lib/PrivateRoute.jsx
  client/src/pages/Callback/index.jsx
  client/src/pages/Callback/styled.js
  client/src/pages/Issues/index.jsx
  client/src/stores/userStore.js
Labels: React, frontend

#141 [BE] jwt 인증 미들웨어 수정 및 유저 컨트롤러 테스트 코드 수정
  backend/.eslintrc
  backend/src/controller/__test__/user.test.js
  backend/src/routes/middleware/jwt-auth.js
Labels: backend, bug

#143 [BE] service 로직에 대한 테스트 코드 작성
  backend/src/controller/__test__/user.test.js
  backend/src/passport/jwt.js
  backend/src/service/__test__/comment.test.js
  backend/src/service/__test__/image.test.js
  backend/src/service/__test__/issue.test.js
  backend/src/service/__test__/label.test.js
  backend/src/service/__test__/milestone.test.js
  backend/src/service/comment.js
  backend/src/service/image.js
  backend/src/service/issue.js
  backend/src/service/label.js
  backend/src/service/milestone.js
  backend/src/service/user.js
Labels: backend, test

#147 [BE] login에러 해결
  backend/src/routes/middleware/jwt-auth.js
  backend/src/service/user.js
Labels: backend

#148 [FE] 이슈 필터 선택시 URL 설정 및 이슈 리스트 랜더링
  client/src/apis/user.js
  client/src/components/Dropdown/index.jsx
  client/src/components/IssueList/index.jsx
  client/src/components/ListHeader/index.jsx
  client/src/components/SelectMenu/index.jsx
  client/src/index.js
  client/src/lib/make-search.js
  client/src/stores/issueStore.js
  client/src/stores/usersStore.js
Labels: React, frontend, refactor

#152 [FE] fileter의 모달창 디자인
  client/src/components/SelectMenu/index.jsx
  client/src/components/SelectMenu/styled.js
  client/src/lib/make-search.js
Labels: React, frontend

#153 [BE] issue필터링 수정
  backend/src/service/issue.js
Labels: API, backend

#154 [FE] filter 메뉴 이벤트 리스너 등록
  client/src/components/Dropdown/styled.js
  client/src/index.js
Labels: React, frontend

#155 [FE] 마일스톤, 레이블 API 연결
  client/src/apis/label.js
  client/src/apis/milestone.js
  client/src/components/ListHeader/index.jsx
  client/src/components/SelectMenu/index.jsx
Labels: frontend

#144 [iOS] 로그인 화면에서 gif 이미지 표시 기능 추가
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Assets.xcassets/github-icon.dataset/Contents.json
  iOS/IssueTracker/IssueTracker/Assets.xcassets/github-icon.dataset/github-icon.gif
  iOS/IssueTracker/IssueTracker/Extensions/UIImage+gif.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Sign/SignViewController.swift
  iOS/IssueTracker/IssueTracker/Views/Storyboards/SignIn.storyboard
  iOS/IssueTracker/IssueTrackerTests/NetworkService/CommentNetworkServiceTests.swift
  iOS/IssueTracker/IssueTrackerTests/NetworkService/ImageNetworkServiceTests.swift
  iOS/IssueTracker/IssueTrackerTests/NetworkService/IssueNetworkServiceTests.swift
  iOS/IssueTracker/IssueTrackerTests/NetworkService/LabelNetworkServiceTests.swift
  iOS/IssueTracker/IssueTrackerTests/NetworkService/MilestoneNetworkServiceTests.swift
Labels: iOS

#157 [FE] 검색창 구현 및 listheader의 필터 검색기능 구현
  client/.eslintrc.js
  client/babel.config.js
  client/jest.config.js
  client/package-lock.json
  client/package.json
  client/src/components/IssueItem/IssueItem.test.js
  client/src/components/IssueItem/index.jsx
  client/src/components/IssueItem/styled.js
  client/src/components/IssueList/index.jsx
  client/src/components/ListHeader/index.jsx
  client/src/components/ListHeader/styled.js
  client/src/components/SearchBox/index.jsx
  client/src/components/SearchBox/styled.js
  client/src/components/SelectMenu/index.jsx
  client/src/components/SelectMenu/styled.js
  client/src/lib/make-search.js
  client/src/pages/IssueNew/IssueNew.test.js
  client/src/pages/Issues/index.jsx
  client/src/setUpTest.js
  client/src/style/theme.js
Labels: React, frontend

#156 [FE] 드롭다운 닫기 이벤트 수정 및 open close 필터 버튼 추가, 필터 초기화 버튼 추가
  client/src/App.jsx
  client/src/components/Dropdown/index.jsx
  client/src/components/IssueList/index.jsx
  client/src/components/ListHeader/index.jsx
  client/src/components/ListHeader/styled.js
  client/src/components/Overlay/index.jsx
  client/src/components/Overlay/styled.js
  client/src/components/ResetFilter/index.jsx
  client/src/components/ResetFilter/styled.js
  client/src/components/SelectMenu/styled.js
  client/src/index.js
  client/src/pages/Issues/index.jsx
Labels: React, frontend

#159 [iOS] Feature 3. 이슈 상세 페이지 api 연동
  .gitignore
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker.xcodeproj/project.xcworkspace/xcuserdata/seungeonkim.xcuserdatad/UserInterfaceState.xcuserstate
  iOS/IssueTracker/IssueTracker/Coordinators/Coordinator.swift
  iOS/IssueTracker/IssueTracker/Coordinators/Roots/Main/Issue/Filter/FilterCoordinator.swift
  iOS/IssueTracker/IssueTracker/Coordinators/Roots/Main/Issue/IssueCoordinator.swift
  iOS/IssueTracker/IssueTracker/Coordinators/Roots/Main/Issue/IssueDetailCoordinator.swift
  iOS/IssueTracker/IssueTracker/Coordinators/Roots/Main/MainTabBarCoordinator.swift
  iOS/IssueTracker/IssueTracker/Coordinators/Roots/Sign/SignCoordinator.swift
  iOS/IssueTracker/IssueTracker/Extensions/UIImageView+URL.swift
  iOS/IssueTracker/IssueTracker/Models/Assignees.swift
  iOS/IssueTracker/IssueTracker/Models/Issue.swift
  iOS/IssueTracker/IssueTracker/Models/Label.swift
  iOS/IssueTracker/IssueTracker/Models/Milestone.swift
  iOS/IssueTracker/IssueTracker/Models/User.swift
  iOS/IssueTracker/IssueTracker/Networks/AssigneeNetworkService.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Filter/FilterSearchViewController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Issue/Detail/Bottom/IssueBottomSheetViewController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Issue/Detail/Bottom/IssueEditCacheService.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Issue/Detail/Bottom/IssueEditService.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Issue/Detail/IssueDetailCache Service.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Issue/Detail/IssueDetailService.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Issue/Detail/IssueDetailViewController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Issue/IssueCacheService.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Issue/IssueDetailViewController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Issue/IssueViewController.swift
  iOS/IssueTracker/IssueTracker/Views/Customs/BottomSheet/AssigneeView.swift
  iOS/IssueTracker/IssueTracker/Views/Customs/BottomSheet/LabelsView.swift
  iOS/IssueTracker/IssueTracker/Views/Customs/BottomSheet/MilestoneView.swift
  iOS/IssueTracker/IssueTracker/Views/Customs/IssueDetail/IssueCommentCollectionViewCell.swift
  iOS/IssueTracker/IssueTracker/Views/Customs/IssueDetail/IssueContentCollectionViewCell.swift
  iOS/IssueTracker/IssueTracker/Views/Customs/IssueDetail/IssueDetailCollectionViewCell.swift
  iOS/IssueTracker/IssueTracker/Views/Storyboards/Issue.storyboard
  iOS/IssueTracker/IssueTracker/Views/Storyboards/IssueAppend.storyboard
  iOS/IssueTracker/IssueTracker/Views/Storyboards/IssueBottomSheet.storyboard
  iOS/IssueTracker/IssueTracker/Views/Storyboards/IssueDetail.storyboard
  iOS/IssueTracker/IssueTrackerTests/NetworkService/CommentNetworkServiceTests.swift
  iOS/IssueTracker/IssueTrackerTests/NetworkService/ImageNetworkServiceTests.swift
  iOS/IssueTracker/IssueTrackerTests/NetworkService/IssueNetworkServiceTests.swift
  iOS/IssueTracker/IssueTrackerTests/NetworkService/LabelNetworkServiceTests.swift
  iOS/IssueTracker/IssueTrackerTests/NetworkService/MilestoneNetworkServiceTests.swift
  iOS/IssueTracker/IssueTrackerTests/NetworkService/UserNetworkServiceTests.swift
  iOS/IssueTracker/Podfile
Labels: iOS

#160 [FE] close/open 드롭다운
  client/src/apis/open-close.js
  client/src/components/ListHeader/index.jsx
  client/src/components/ListHeader/styled.js
  client/src/components/MarkAs/index.jsx
  client/src/components/MarkAs/styled.js
  client/src/components/SelectMenu/index.jsx
  client/src/stores/issueStore.js
Labels: React, frontend

#161 [FE] PR에러 수정
  client/src/components/IssueList/index.jsx
  client/src/components/Layout/index.jsx
  client/src/components/ListHeader/index.jsx
  client/src/components/MarkAs/index.jsx
  client/src/components/SelectMenu/index.jsx
Labels: frontend, refactor

#162 [FE] issue detail페이지 레이아웃
  client/src/components/IssueComment/index.jsx
  client/src/components/IssueHeader/index.jsx
  client/src/components/IssueSidebar/index.jsx
  client/src/pages/IssueDetail/index.jsx
  client/src/pages/IssueDetail/styled.js
Labels: React, frontend

#164 [BE] 이슈, 댓글 API
  backend/src/controller/comment.js
  backend/src/controller/issue.js
  backend/src/routes/comment.js
  backend/src/routes/issue.js
  backend/src/service/comment.js
  backend/src/service/issue.js
Labels: API, backend

#165 [FE] 이슈, 댓글 axios 설정
  client/src/apis/comment.js
  client/src/apis/issue.js
  client/src/stores/issueStore.js
Labels: React, frontend

#166 [BE] update Label, Assginee 로직 수정
  backend/src/routes/issue.js
  backend/src/service/issue.js
Labels: API, backend, refactor

#167 [FE] update label, assignee 로직 수정
  client/src/apis/issue.js
  client/src/stores/issueStore.js
Labels: React, frontend, refactor

#169 [FE] 댓글 생성, 수정 API
  client/src/apis/comment.js
  client/src/apis/issue.js
  client/src/apis/open-close.js
  client/src/components/MarkAs/index.jsx
  client/src/stores/issueStore.js
Labels: React, frontend

#170 [FE] 이슈 상세보기 페이지 사이드바 구현
  client/package-lock.json
  client/package.json
  client/src/apis/issue.js
  client/src/components/Dropdown/index.jsx
  client/src/components/DropdownItem/index.jsx
  client/src/components/DropdownItem/styled.js
  client/src/components/IssueItem/index.jsx
  client/src/components/IssueSidebar/Assignee/index.jsx
  client/src/components/IssueSidebar/Assignee/styled.js
  client/src/components/IssueSidebar/Label/index.jsx
  client/src/components/IssueSidebar/Label/styled.js
  client/src/components/IssueSidebar/Milestone/index.jsx
  client/src/components/IssueSidebar/Milestone/styled.js
  client/src/components/IssueSidebar/index.jsx
  client/src/components/IssueSidebar/styled.js
  client/src/components/Overlay/index.jsx
  client/src/pages/IssueDetail/index.jsx
Labels: React, frontend

#171 [FE] 이슈 상세페이지 헤더 및 댓글부분 구현
  client/src/apis/comment.js
  client/src/components/Comment/index.jsx
  client/src/components/Comment/styled.js
  client/src/components/Dropdown/index.jsx
  client/src/components/Dropdown/styled.js
  client/src/components/EditComment/index.jsx
  client/src/components/EditComment/styled.js
  client/src/components/IssueComment/index.jsx
  client/src/components/IssueComment/styled.js
  client/src/components/IssueHeader/index.jsx
  client/src/components/IssueHeader/styled.js
  client/src/components/IssueList/dummy.js
  client/src/components/IssueList/index.jsx
  client/src/components/IssueSidebar/index.jsx
  client/src/components/IssueSidebar/styled.js
  client/src/components/NewComment/index.jsx
  client/src/components/NewComment/styled.js
  client/src/components/ResetFilter/index.jsx
  client/src/lib/make-search.js
  client/src/pages/IssueDetail/index.jsx
  client/src/pages/IssueDetail/styled.js
  client/src/stores/issueStore.js
Labels: React, frontend

#174 [BE] 이슈 state변경API 수정
  backend/src/controller/issue.js
  backend/src/routes/issue.js
Labels: API, backend

#172 [Fe] issueDetail페이지의 모달에 검색기능 추가
  client/src/apis/issue.js
  client/src/components/DropdownItem/index.jsx
  client/src/components/DropdownItem/styled.js
  client/src/components/MarkAs/index.jsx
Labels: React, frontend

#177 [FE] issue상태 바꾸기 변경
  client/src/apis/issue.js
Labels: API, backend

#175 [BE] issue상태 바꾸기 변경
  backend/src/controller/issue.js
  backend/src/routes/issue.js
Labels: API, backend

#176 [FE] 라벨 리스트 레이아웃 구현
  client/src/App.jsx
  client/src/components/EditLabel/index.jsx
  client/src/components/EditLabel/styled.js
  client/src/components/LabelItem/index.jsx
  client/src/components/LabelItem/styled.js
  client/src/components/LabelList/index.jsx
  client/src/components/LabelList/styled.js
  client/src/components/SearchBox/index.jsx
  client/src/pages/Labels/index.jsx
Labels: React, frontend

#178 [BE] issue read부분 예외처리
  backend/src/service/issue.js
Labels: API, backend, refactor

#179 [iOS] Feature 3. 이슈 속성 수정 api 요청 시, 파라미터 인코딩
  iOS/IssueTracker/IssueTracker/Networks/IssueNetworkService.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Issue/Detail/Bottom/IssueBottomSheetViewController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Issue/Detail/Bottom/IssueEditCacheService.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Issue/Detail/IssueEditViewController.swift
  iOS/IssueTracker/IssueTracker/Views/Storyboards/IssueBottomSheet.storyboard
Labels: API, iOS

#180 [iOS] 이미지 업로드 기능추가
  iOS/IssueTracker/IssueTracker/Info.plist
  iOS/IssueTracker/IssueTracker/ViewControllers/Issue/EditableTextViewDelegate.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Issue/IssueAppendViewController.swift
  iOS/IssueTracker/IssueTracker/Views/Customs/Milestone/MilestoneCollectionViewCell.swift
Labels: API, iOS

#181 [iOS] 바텀 시트가 제대로 표시되지 않는 문제 수정
  iOS/IssueTracker/IssueTracker/Coordinators/Roots/Main/Issue/IssueDetailCoordinator.swift
  iOS/IssueTracker/IssueTracker/Models/Issue.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Issue/Detail/Bottom/IssueBottomSheetViewController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Issue/Detail/IssueDetailViewController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Issue/IssueCacheService.swift
  iOS/IssueTracker/IssueTracker/Views/Storyboards/IssueBottomSheet.storyboard
Labels: iOS

#182 [FE] 폴더구조 리팩토링
  client/src/components/Layout/index.jsx
  client/src/components/Sidebar/Assignee/index.jsx
  client/src/components/Sidebar/Assignee/styled.js
  client/src/components/Sidebar/Label/index.jsx
  client/src/components/Sidebar/Label/styled.js
  client/src/components/Sidebar/Milestone/index.jsx
  client/src/components/Sidebar/Milestone/styled.js
  client/src/components/Sidebar/index.jsx
  client/src/components/Sidebar/styled.js
  client/src/lib/axios.js
  client/src/pages/IssueDetail/Comment/index.jsx
  client/src/pages/IssueDetail/Comment/styled.js
  client/src/pages/IssueDetail/EditComment/index.jsx
  client/src/pages/IssueDetail/EditComment/styled.js
  client/src/pages/IssueDetail/IssueComment/index.jsx
  client/src/pages/IssueDetail/IssueComment/styled.js
  client/src/pages/IssueDetail/IssueHeader/index.jsx
  client/src/pages/IssueDetail/IssueHeader/styled.js
  client/src/pages/IssueDetail/NewComment/index.jsx
  client/src/pages/IssueDetail/NewComment/styled.js
  client/src/pages/IssueDetail/index.jsx
  client/src/pages/Issues/IssueItem/IssueItem.test.js
  client/src/pages/Issues/IssueItem/index.jsx
  client/src/pages/Issues/IssueItem/styled.js
  client/src/pages/Issues/IssueList/index.jsx
  client/src/pages/Issues/IssueList/styled.js
  client/src/pages/Issues/ListHeader/index.jsx
  client/src/pages/Issues/ListHeader/styled.js
  client/src/pages/Issues/MarkAs/index.jsx
  client/src/pages/Issues/MarkAs/styled.js
  client/src/pages/Issues/ResetFilter/index.jsx
  client/src/pages/Issues/ResetFilter/styled.js
  client/src/pages/Issues/SearchBox/index.jsx
  client/src/pages/Issues/SearchBox/styled.js
  client/src/pages/Issues/index.jsx
  client/src/pages/Labels/EditLabel/index.jsx
  client/src/pages/Labels/EditLabel/styled.js
  client/src/pages/Labels/LabelItem/index.jsx
  client/src/pages/Labels/LabelItem/styled.js
  client/src/pages/Labels/LabelList/index.jsx
  client/src/pages/Labels/LabelList/styled.js
  client/src/pages/Labels/index.jsx
  client/src/pages/Login/index.jsx
Labels: React, frontend

#183 [FE] 라벨 생성, 수정, 삭제 API 구현 및 이벤트 등록
  client/src/apis/label.js
  client/src/pages/Labels/EditLabel/index.jsx
  client/src/pages/Labels/LabelItem/index.jsx
Labels: React, frontend

#184 [FE] 라벨 마일스톤 navform 구현
  client/src/components/LabelMileNavForm/index.jsx
  client/src/components/LabelMileNavForm/styled.js
  client/src/pages/Labels/index.jsx
Labels: React, frontend

#185 [FE] 라벨 생성하기 구현
  client/src/apis/label.js
  client/src/components/EditLabel/index.jsx
  client/src/components/EditLabel/styled.js
  client/src/components/LabelMileNavForm/index.jsx
  client/src/components/LabelMileNavForm/styled.js
  client/src/pages/Labels/LabelItem/index.jsx
  client/src/pages/Labels/LabelItem/styled.js
  client/src/pages/Labels/LabelList/index.jsx
  client/src/pages/Labels/index.jsx
Labels: React, frontend

#186 [FE] 레이블 마일스톤 폼 수정, API axios
  client/src/apis/milestone.js
  client/src/components/LabelMileNavForm/index.jsx
  client/src/pages/Milestones/index.jsx
Labels: React, frontend

#190 [iOS] 마일스톤 화면 수정
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Coordinators/Roots/Main/Milestone/MilestoneCoordinator.swift
  iOS/IssueTracker/IssueTracker/Models/Filter/Filter.swift
  iOS/IssueTracker/IssueTracker/Models/Filter/FilterContext.swift
  iOS/IssueTracker/IssueTracker/Models/Milestone.swift
  iOS/IssueTracker/IssueTracker/Networks/CommentNetworkService.swift
  iOS/IssueTracker/IssueTracker/Networks/IssueNetworkService.swift
  iOS/IssueTracker/IssueTracker/Networks/MilestoneNetworkService.swift
  iOS/IssueTracker/IssueTracker/Networks/UserNetworkService.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Issue/IssueCacheService.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Issue/IssueService.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Milestone/MilestoneAppendViewController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Milestone/MilestoneCacheService.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Milestone/MilestoneViewController.swift
  iOS/IssueTracker/IssueTracker/Views/Customs/Milestone/MilestoneCollectionViewCell.swift
  iOS/IssueTracker/IssueTracker/Views/Customs/ShadowView.swift
  iOS/IssueTracker/IssueTracker/Views/Storyboards/Milestone.storyboard
  iOS/IssueTracker/IssueTracker/Views/Xibs/InputField.swift
  iOS/IssueTracker/IssueTracker/Views/Xibs/InputField.xib
  iOS/IssueTracker/IssueTrackerTests/NetworkService/AssigneeNetworkServiceTests.swift
  iOS/IssueTracker/IssueTrackerTests/NetworkService/CommentNetworkServiceTests.swift
  iOS/IssueTracker/IssueTrackerTests/NetworkService/ImageNetworkServiceTests.swift
  iOS/IssueTracker/IssueTrackerTests/NetworkService/IssueNetworkServiceTests.swift
  iOS/IssueTracker/IssueTrackerTests/NetworkService/LabelNetworkServiceTests.swift
  iOS/IssueTracker/IssueTrackerTests/NetworkService/MilestoneNetworkServiceTests.swift
  iOS/IssueTracker/IssueTrackerTests/NetworkService/UserNetworkServiceTests.swift
Labels: API, iOS

#188 [BE] 깃 액션 자동 테스트코드
  .github/workflows/backend.yml
  backend/src/controller/__test__/issue.test.js
  backend/src/controller/__test__/user.test.js
  backend/src/service/__test__/issue.test.js
  backend/src/service/issue.js
  backend/uploads/1603959671346school.jpg
  backend/uploads/1603961045666school.jpg
  backend/uploads/1603961934704school.jpg
Labels: backend

#189 [FE] 이슈디테일 페이지 스타일링
  client/package-lock.json
  client/package.json
  client/src/lib/calculate-time.js
  client/src/pages/IssueDetail/Comment/index.jsx
  client/src/pages/IssueDetail/Comment/styled.js
  client/src/pages/IssueDetail/EditComment/index.jsx
  client/src/pages/IssueDetail/EditComment/styled.js
  client/src/pages/IssueDetail/IssueHeader/index.jsx
  client/src/pages/IssueDetail/IssueHeader/styled.js
  client/src/pages/IssueDetail/NewComment/index.jsx
  client/src/pages/IssueDetail/NewComment/styled.js
  client/src/pages/IssueDetail/styled.js
Labels: React, frontend

#191 [FE] 마일스톤 create 구현
  client/src/components/LabelMileNavForm/styled.js
  client/src/components/MilestoneBox/index.jsx
  client/src/components/MilestoneBox/styled.js
  client/src/pages/MilestoneNew/index.jsx
  client/src/pages/MilestoneNew/styled.js
  client/src/pages/Milestones/index.jsx
Labels: React, frontend

#194 [FE] 마일스톤 생성 로직 변경
  client/src/components/MilestoneBox/index.jsx
  client/src/pages/MilestoneNew/index.jsx
Labels: React, frontend, refactor

#192 [iOS] 마일스톤 추가 화면 생성
  iOS/IssueTracker/IssueTracker/Networks/CommentNetworkService.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Issue/IssueAppendViewController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Milestone/MilestoneAppendViewController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Milestone/MilestoneViewController.swift
Labels: iOS

#197 [FE] 이슈 생성페이지 구현
  client/src/apis/issue.js
  client/src/components/NewComment/index.jsx
  client/src/components/NewComment/styled.js
  client/src/pages/IssueDetail/Comment/styled.js
  client/src/pages/IssueDetail/IssueComment/index.jsx
  client/src/pages/IssueDetail/IssueComment/styled.js
  client/src/pages/IssueDetail/NewComment/index.jsx
  client/src/pages/IssueNew/index.jsx
  client/src/pages/IssueNew/styled.js
Labels: React, frontend

#198 [FE] issueNew 페이지의 사이드바 생성
  client/src/components/Dropdown/index.jsx
  client/src/components/EditLabel/index.jsx
  client/src/components/EditLabel/styled.js
  client/src/components/LabelMileNavForm/index.jsx
  client/src/components/Sidebar/Assignee/index.jsx
  client/src/components/Sidebar/Label/index.jsx
  client/src/components/Sidebar/Milestone/index.jsx
  client/src/components/Sidebar/index.jsx
  client/src/pages/IssueDetail/index.jsx
  client/src/pages/IssueNew/index.jsx
  client/src/pages/Labels/LabelItem/styled.js
  client/src/stores/createInfoStore.js
Labels: React, frontend

#199 [FE] issue생성 페이지에서 sidebar와 입력폼 결합
  client/src/index.js
  client/src/pages/IssueNew/index.jsx
  client/src/pages/IssueNew/styled.js
  client/src/stores/createInfoStore.js
Labels: React, frontend

#201 [BE] 마일스톤 readById API 생성
  backend/src/controller/milestone.js
  backend/src/routes/milestone.js
  backend/src/service/milestone.js
Labels: API, backend

#202 [FE] git actions자동배포
  .github/workflows/client-deploy.yml
  client/deploy.sh
  client/package.json
Labels: frontend

#200 [FE] 마일스톤 수정 페이지 구현
  client/src/App.jsx
  client/src/apis/milestone.js
  client/src/components/MilestoneBox/index.jsx
  client/src/components/MilestoneBox/styled.js
  client/src/pages/MilestoneEdit/index.jsx
  client/src/pages/MilestoneEdit/styled.js
  client/src/pages/Milestones/MilestoneItem/index.jsx
  client/src/pages/index.js
Labels: React, frontend

#203 [FE]yml파일을 수정
  .github/workflows/client-deploy.yml
Labels: frontend

#204 [FE] client github action 수정
  .github/workflows/client-deploy.yml
Labels: frontend

#205 [FE] README.md 업데이트
  client/README.md
Labels: documentation, frontend

#215 [FE] favicon추가
  client/package-lock.json
  client/package.json
  client/public/favicon.ico
  client/src/pages/Issues/IssueList/styled.js
  client/webpack.config.js
Labels: frontend

#196 [iOS] UIColor를 16진수 문자열로 변경하는 기능 추가
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Extensions/UIColor+hexString.swift
  iOS/IssueTracker/IssueTracker/Networks/IssueNetworkService.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Issue/Detail/Bottom/IssueBottomSheetViewController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Issue/IssueCacheService.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Issue/IssueService.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Issue/IssueViewController.swift
  iOS/IssueTracker/IssueTracker/Views/Customs/Issue/CheckBox.swift
  iOS/IssueTracker/IssueTracker/Views/Customs/Issue/IssueTableViewCell.swift
  iOS/IssueTracker/IssueTracker/Views/Storyboards/Issue.storyboard
  iOS/IssueTracker/IssueTrackerTests/ColorTests.swift
Labels: iOS

#216 [iOS] Feature 3. 이슈 댓글 달기
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Coordinators/Roots/Main/Issue/IssueDetailCoordinator.swift
  iOS/IssueTracker/IssueTracker/Networks/IssueNetworkService.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Issue/Detail/Bottom/IssueBottomSheetViewController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Issue/Detail/Bottom/IssueEditCacheService.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Issue/Detail/Bottom/IssueEditService.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Issue/Detail/IssueCommentViewController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Issue/Detail/IssueDetailViewController.swift
  iOS/IssueTracker/IssueTracker/Views/Customs/IssueDetail/IssueCommentCollectionViewCell.swift
  iOS/IssueTracker/IssueTracker/Views/Customs/IssueDetail/IssueContentCollectionViewCell.swift
  iOS/IssueTracker/IssueTracker/Views/Customs/ShadowView.swift
  iOS/IssueTracker/IssueTracker/Views/Storyboards/Comment.storyboard
  iOS/IssueTracker/IssueTracker/Views/Storyboards/IssueDetail.storyboard
Labels: API, iOS

#214 [FE] 자동배포 with 코드 프리징
  .github/workflows/client-deploy.yml
  client/package-lock.json
  client/package.json
  client/public/favicon.ico
  client/src/pages/Issues/IssueList/styled.js
  client/webpack.config.js
Labels: documentation, frontend

#219 [iOS] Feature 3. 이슈 상세페이지 마무리
  iOS/IssueTracker/IssueTracker/Coordinators/Roots/Main/Issue/IssueDetailCoordinator.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Issue/Detail/Bottom/IssueBottomSheetViewController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Issue/Detail/IssueDetailViewController.swift
  iOS/IssueTracker/IssueTracker/Views/Customs/BottomSheet/Cells/LabelCell.swift
  iOS/IssueTracker/IssueTracker/Views/Customs/IssueDetail/IssueCommentCollectionViewCell.swift
  iOS/IssueTracker/IssueTracker/Views/Storyboards/IssueDetail.storyboard
Labels: iOS

#221 [iOS] Feature 4. Label 페이지 마무리
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Coordinators/Roots/Main/Label/LabelCoordinator.swift
  iOS/IssueTracker/IssueTracker/Coordinators/Roots/Main/MainTabBarCoordinator.swift
  iOS/IssueTracker/IssueTracker/Coordinators/Roots/Main/Milestone/MilestoneCoordinator.swift
  iOS/IssueTracker/IssueTracker/SceneDelegate.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/LabelAppendViewController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/LabelViewController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Milestone/MilestoneViewController.swift
  iOS/IssueTracker/IssueTracker/Views/Customs/IssueDetail/IssueCommentCollectionViewCell.swift
  iOS/IssueTracker/IssueTracker/Views/Customs/label/LabelCollectionViewCell.swift
  iOS/IssueTracker/IssueTracker/Views/Storyboards/Label.storyboard
  iOS/IssueTracker/IssueTracker/Views/Storyboards/LabelAppend.storyboard
Labels: API, iOS

#222 [FE] hotfix에러 수정
  .github/workflows/backend-deploy.yml
  .github/workflows/backend.yml
  README.md
  backend/.eslintrc
  backend/deploy.sh
  backend/src/controller/__test__/issue.test.js
  backend/src/controller/__test__/user.test.js
  backend/src/controller/comment.js
  backend/src/controller/issue.js
  backend/src/controller/milestone.js
  backend/src/model/user.js
  backend/src/passport/jwt.js
  backend/src/routes/comment.js
  backend/src/routes/issue.js
  backend/src/routes/milestone.js
  backend/src/service/__test__/comment.test.js
  backend/src/service/__test__/image.test.js
  backend/src/service/__test__/issue.test.js
  backend/src/service/__test__/label.test.js
  backend/src/service/__test__/milestone.test.js
  backend/src/service/comment.js
  backend/src/service/image.js
  backend/src/service/issue.js
  backend/src/service/label.js
  backend/src/service/milestone.js
  backend/src/service/user.js
  client/src/apis/milestone.js
  client/src/lib/axios.js
  client/src/pages/IssueNew/index.jsx
  client/src/pages/Issues/IssueItem/index.jsx
  client/src/pages/Issues/ListHeader/index.jsx
  client/src/pages/MilestoneNew/index.jsx
Labels: frontend

#223 [BE] hotfix milestone 및 user 에러 수정
  backend/src/model/__test__/user.test.js
  backend/src/model/user.js
  backend/src/service/milestone.js
Labels: backend

#224 [FE] README.md 업데이트
  client/README.md
Labels: frontend

#225 [FE] MILESTONE 회색 바 수정
  client/src/components/Sidebar/Milestone/index.jsx
  client/src/pages/Milestones/MilestoneItem/index.jsx
  client/src/pages/Milestones/MilestoneItem/styled.js
Labels: frontend

#226 [FE] milestone bar를 수정
  client/src/components/Sidebar/Milestone/index.jsx
Labels: frontend

#227 [IOS] 앱 아이콘 추가
  iOS/IssueTracker/IssueTracker/Assets.xcassets/AppIcon.appiconset/Contents.json
  iOS/IssueTracker/IssueTracker/Assets.xcassets/AppIcon.appiconset/Icon-1024.png
  iOS/IssueTracker/IssueTracker/Assets.xcassets/AppIcon.appiconset/Icon-120.png
  iOS/IssueTracker/IssueTracker/Assets.xcassets/AppIcon.appiconset/Icon-121.png
  iOS/IssueTracker/IssueTracker/Assets.xcassets/AppIcon.appiconset/Icon-152.png
  iOS/IssueTracker/IssueTracker/Assets.xcassets/AppIcon.appiconset/Icon-167.png
  iOS/IssueTracker/IssueTracker/Assets.xcassets/AppIcon.appiconset/Icon-180.png
  iOS/IssueTracker/IssueTracker/Assets.xcassets/AppIcon.appiconset/Icon-20.png
  iOS/IssueTracker/IssueTracker/Assets.xcassets/AppIcon.appiconset/Icon-29.png
  iOS/IssueTracker/IssueTracker/Assets.xcassets/AppIcon.appiconset/Icon-40.png
  iOS/IssueTracker/IssueTracker/Assets.xcassets/AppIcon.appiconset/Icon-41.png
  iOS/IssueTracker/IssueTracker/Assets.xcassets/AppIcon.appiconset/Icon-42.png
  iOS/IssueTracker/IssueTracker/Assets.xcassets/AppIcon.appiconset/Icon-58.png
  iOS/IssueTracker/IssueTracker/Assets.xcassets/AppIcon.appiconset/Icon-59.png
  iOS/IssueTracker/IssueTracker/Assets.xcassets/AppIcon.appiconset/Icon-60.png
  iOS/IssueTracker/IssueTracker/Assets.xcassets/AppIcon.appiconset/Icon-76.png
  iOS/IssueTracker/IssueTracker/Assets.xcassets/AppIcon.appiconset/Icon-80.png
  iOS/IssueTracker/IssueTracker/Assets.xcassets/AppIcon.appiconset/Icon-81.png
  iOS/IssueTracker/IssueTracker/Assets.xcassets/AppIcon.appiconset/Icon-87.png
  iOS/IssueTracker/IssueTracker/SceneDelegate.swift
Labels: iOS

#230 [BE] 이슈 1개 조회하기 API 수정
  backend/src/service/issue.js
Labels: API, backend
