Repository boostcamp-2020/IssueTracker-09, pull requests merged in 2020-10, with the labels that each got.

#35 [BE] 초기 환경세팅
  backend/.eslintrc
  backend/.gitignore
  backend/.prettierrc
  backend/README.md
  backend/package-lock.json
  backend/package.json
  backend/src/app.js
  backend/src/config/index.js
  backend/src/model/index.js
  backend/src/routes/comment.js
  backend/src/routes/image.js
  backend/src/routes/index.js
  backend/src/routes/issue.js
  backend/src/routes/label.js
  backend/src/routes/milestone.js
  backend/src/routes/user.js
Labels: backend

#38 [ BE] sequelizeORM 모델 구현
  backend/src/model/assignee-issue.js
  backend/src/model/comment.js
  backend/src/model/index.js
  backend/src/model/issue-label.js
  backend/src/model/issue.js
  backend/src/model/label.js
  backend/src/model/milestone.js
  backend/src/model/user.js
Labels: backend

#37 [iOS] 애플 아이디로 로그인 기능 추가
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/IssueTracker.entitlements
  iOS/IssueTracker/IssueTracker/ViewControllers/SignViewController.swift
  iOS/IssueTracker/IssueTracker/Views/Storyboards/Base.lproj/LaunchScreen.storyboard
  iOS/IssueTracker/IssueTracker/Views/Storyboards/Base.lproj/Main.storyboard
  iOS/IssueTracker/Storyboards/Base.lproj/LaunchScreen.storyboard
  iOS/IssueTracker/Storyboards/Base.lproj/Main.storyboard
Labels: iOS

#39 [BE] github 소셜로그인 구현
  backend/src/passport/github.js
  backend/src/routes/user.js
Labels: backend

#40 [ BE ] passport-jwt를 이용한 인증 미들웨어 구현
  backend/src/routes/index.js
  backend/src/routes/middleware/jwt-auth.js
Labels: backend

#42 [BE] 로그인 컨트롤러 및 서비스 로직 추가
  backend/src/controller/user.js
  backend/src/routes/user.js
  backend/src/service/user.js
  backend/src/utils/jwt.js
Labels: backend

#43 [ BE ] passport-jwt 전략 구현
  backend/package.json
  backend/src/app.js
  backend/src/passport/github.js
  backend/src/passport/index.js
  backend/src/passport/jwt.js
  backend/src/routes/middleware/git-auth.js
  backend/src/routes/user.js
  backend/src/service/user.js
  backend/src/utils/jwt.js
Labels: backend

#45 [iOS] github actions 추가
  .github/workflows/iOS.yml
Labels: iOS

#47 [BE] apple 로그인 기능, 사용자 정보 가저요기 API 구현
  backend/src/controller/user.js
  backend/src/model/user.js
  backend/src/passport/github.js
  backend/src/passport/jwt.js
  backend/src/routes/middleware/jwt-auth.js
  backend/src/routes/user.js
  backend/src/service/user.js
  backend/src/utils/jwt.js
Labels: API, backend

#48 [ BE ] iOSGithub로그인 & getUsers 에 대한 API작성
  backend/src/controller/user.js
  backend/src/model/user.js
  backend/src/passport/github.js
  backend/src/routes/user.js
  backend/src/service/user.js
Labels: API, backend

#49 [ BE ] logout API구현
  backend/README.md
  backend/src/controller/user.js
  backend/src/lib/store.js
  backend/src/lib/utils/jwt.js
  backend/src/routes/middleware/jwt-auth.js
  backend/src/routes/user.js
  backend/src/service/user.js
Labels: API, backend

#50 [iOS] 이슈 목록 화면 레이아웃 설정
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Coordinators/Coordinator.swift
  iOS/IssueTracker/IssueTracker/Coordinators/IssueCoordinator.swift
  iOS/IssueTracker/IssueTracker/Coordinators/SignCoordinator.swift
  iOS/IssueTracker/IssueTracker/Info.plist
  iOS/IssueTracker/IssueTracker/Models/Issue.swift
  iOS/IssueTracker/IssueTracker/SceneDelegate.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Issue/IssueService.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Issue/IssueViewController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Issue/LocalIssueService.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Sign/AppleAuthorizationController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Sign/GithubSignController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/Sign/SignViewController.swift
  iOS/IssueTracker/IssueTracker/Views/Cells/IssueTableViewCell.swift
  iOS/IssueTracker/IssueTracker/Views/Designables/BadgeView.swift
  iOS/IssueTracker/IssueTracker/Views/Designables/CheckBox.swift
  iOS/IssueTracker/IssueTracker/Views/Storyboards/Issue.storyboard
  iOS/IssueTracker/IssueTracker/Views/Storyboards/LaunchScreen.storyboard
  iOS/IssueTracker/IssueTracker/Views/Storyboards/SignIn.storyboard
Labels: iOS

#52 [BE] 라벨 CRUE API 구현 및 테스트 코드 작성
  backend/package-lock.json
  backend/package.json
  backend/src/controller/__test__/label.test.js
  backend/src/controller/label.js
  backend/src/model/label.js
  backend/src/routes/label.js
  backend/src/service/label.js
Labels: API, backend

#55 [BE] milestone CRUD API 구현
  backend/src/controller/milestone.js
  backend/src/routes/middleware/jwt-auth.js
  backend/src/routes/milestone.js
  backend/src/service/milestone.js
Labels: API, backend

#56 [ BE ] comment API에서 update와 delete 로직 및 테스트코드 수정
  backend/src/controller/__test__/comment.test.js
  backend/src/controller/comment.js
  backend/src/model/__test__/label.test.js
  backend/src/routes/comment.js
  backend/src/service/__test__/comment.test.js
  backend/src/service/comment.js
Labels: API, backend

#57 [BE] milestone read 데이터 처리 변경 및 리팩토링
  backend/src/controller/milestone.js
  backend/src/routes/milestone.js
  backend/src/service/milestone.js
Labels: API, backend

#60 [Be] read issue api 작성
  backend/src/controller/__test__/issue.test.js
  backend/src/controller/issue.js
  backend/src/routes/issue.js
  backend/src/service/__test__/issue.test.js
  backend/src/service/issue.js
Labels: API, backend

#61 [BE] 모델 수정 및 이슈 생성 API 구현
  backend/src/controller/__test__/issue.test.js
  backend/src/controller/issue.js
  backend/src/model/__test__/assignee-issue.test.js
  backend/src/model/__test__/issue-label.test.js
  backend/src/model/assignee-issue.js
  backend/src/model/index.js
  backend/src/model/issue-label.js
  backend/src/model/issue.js
  backend/src/model/label.js
  backend/src/model/user.js
  backend/src/routes/issue.js
  backend/src/service/issue.js
Labels: API, backend

#62 [BE] issue remove, comment read, image upload
  backend/package-lock.json
  backend/package.json
  backend/src/app.js
  backend/src/controller/comment.js
  backend/src/controller/image.js
  backend/src/controller/issue.js
  backend/src/lib/utils/multer.js
  backend/src/routes/comment.js
  backend/src/routes/image.js
  backend/src/routes/issue.js
  backend/src/service/comment.js
  backend/src/service/image.js
  backend/src/service/issue.js
  backend/uploads/1603959671346school.jpg
  backend/uploads/1603961045666school.jpg
  backend/uploads/1603961934704school.jpg
Labels: API, backend

#63 [BE] 댓글, 마일스톤 리팩토링
  backend/src/controller/comment.js
  backend/src/controller/milestone.js
  backend/src/service/comment.js
Labels: API, backend

#65 [BE] create comment 인자 받아오는 것 리팩토링
  backend/src/controller/comment.js
  backend/src/routes/middleware/jwt-auth.js
Labels: API, backend

#67 [BE] issue 서비스 로직 수정
  backend/.gitignore
  backend/src/service/issue.js
  backend/src/service/milestone.js
Labels: API, backend

#69 [BE] 이슈 조회 API 에러 수정 및 코드 리팩토링
  backend/src/controller/comment.js
  backend/src/controller/label.js
  backend/src/controller/user.js
  backend/src/service/issue.js
Labels: API, backend

#70 [BE] Controller로직 테스트 코드 작성 및 수정
  backend/src/controller/__test__/comment.test.js
  backend/src/controller/__test__/image.test.js
  backend/src/controller/__test__/issue.test.js
  backend/src/controller/__test__/label.test.js
  backend/src/controller/__test__/milestone.test.js
  backend/src/controller/__test__/user.test.js
  backend/src/controller/image.js
  backend/src/controller/user.js
  backend/src/service/user.js
Labels: backend, test

#71 [BE] 에러 수정 및 테스트 코드 작성
  backend/src/controller/__test__/comment.test.js
  backend/src/controller/__test__/image.test.js
  backend/src/controller/__test__/issue.test.js
  backend/src/controller/__test__/label.test.js
  backend/src/controller/__test__/milestone.test.js
  backend/src/controller/__test__/user.test.js
  backend/src/controller/comment.js
  backend/src/controller/image.js
  backend/src/controller/label.js
  backend/src/controller/user.js
  backend/src/service/issue.js
  backend/src/service/user.js
Labels: backend, test
